{% extends 'login/base.html' %}

{% block title %}
    Login here!
{% endblock %}

{% block add_button %}<a href="{% url 'login_add' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>{% endblock %}
    
{% block head %} Login here...{% endblock %}
    

{% block content %}
    <form method='POST'> {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='Login'/>
    </form>
    {% if res %}{{ res }}{% endif %}
    <hr/>
    <p>Username - Password</p>
    {% for l in logins %} 
    <p>{{ l.username }} - {{ l.password }}</p>
    {% endfor %}
     {% endblock %}